Checks: "*,
        -abseil-*,
        -google-*,
        -llvm*,
        -cppcoreguidelines-*,
        -readability-identifier-length,
        -hicpp-uppercase-literal-suffix,
        -readability-uppercase-literal-suffix,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
        -readability-convert-member-functions-to-static,
        -bugprone-easily-swappable-parameters,
        -modernize-use-trailing-return-type,
        -hicpp-special-member-functions,
        -fuchsia-default-arguments-calls,
        -readability-simplify-boolean-expr,
        -hicpp-use-auto,
        -modernize-use-auto,
        -cert-err58-cpp,
        -hicpp-vararg,
        -modernize-loop-convert,
        -bugprone-implicit-widening-of-multiplication-result,
        -hicpp-no-malloc,
        -cert-err33-c,
        -readability-implicit-bool-conversion,
        -hicpp-avoid-c-arrays,
        -hicpp-no-array-decay,
        -modernize-avoid-c-arrays,
        -misc-unused-parameters,
        -fuchsia-default-arguments-declarations,
        -fuchsia-statically-constructed-objects,
        -readability-container-data-pointer,
        -performance-no-int-to-pointer,
        -hicpp-signed-bitwise,
        -altera-struct-pack-align,
        -bugprone-macro-parentheses,
        -misc-non-private-member-variables-in-classes,
        -fuchsia-overloaded-operator,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
